// creating function for scss
// we can also pass a parameter to a function in scss to change the functionality of different styles 
// for example function (parameter) we can changed such parameter by calling the parameter in style secition to change the style
// we can used a keywoard @include to call the function in style section
@mixin flexCenter($direction, $backgroundColor) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // set parameter though calling funcition
    flex-direction: $direction;
    background-color: $backgroundColor;
}
header {
    @include flexCenter(column, $primaryColor);
    // background-color: $primaryColor;
    // inside header we can style a button 
    button {
        background-color: $buttoncolor;
        color: $white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        // & operator used for hover focus before & more.
        &:hover {
            background-color:$blue ;
            color: $white;
        }
    }
}