// creating variable for scss

 

// importing variables
@import './variables';
// importing header from style header.scss   
 @import './header';

.contact{
    @include flexCenter(row,rgb(40, 77, 179));
    // background-color: $buttoncolor;
    color: $white;
}
.contact button {
    background-color: $buttoncolor;
    color: $white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}